In [4]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import time

import warnings
warnings.filterwarnings('ignore')

##### Variable definition

In [9]:
def Amazon_Pricing(skus):
    Total_Price = {'SKU':[], 'Price':[], 'Price_List':[]}
    options = Options()
    options.headless = False

    for sku in skus:
        print(f"Scraping Amazon US {sku} Price")

        driver = webdriver.Chrome('C:/Users/142845/Documents/Python Scripts/Drivers/chromedriver.exe', options = options)
        driver.maximize_window()
        driver.get(f"https://www.google.com/search?q=fossil+{sku}+amazon US")
        driver.find_element_by_xpath('//*[@id="L2AGLb"]/div').click() #Accept cookies
        time.sleep(2)
        driver.find_element_by_xpath('//*[@id="Rzn5id"]/div/a[2]').click() #English

        time.sleep(3)

        if 'amazon.com' in driver.find_element_by_class_name('yuRUbf').text:
            driver.find_element_by_class_name('yuRUbf').click()
            time.sleep(3)

            page = BeautifulSoup(driver.page_source, 'html.parser')

            if page.find('span', class_='a-price a-text-price') is not None and page.find('span', class_='a-price aok-align-center reinventPricePriceToPayPadding priceToPay') is not None:
                list_price = page.find('span', class_='a-price a-text-price').text.split('$')[1]
                price = page.find('span', class_='a-price aok-align-center reinventPricePriceToPayPadding priceToPay').text.split('$')[1]

            elif page.find('span', class_='a-price aok-align-center reinventPricePriceToPayPadding priceToPay') is not None:
                price = page.find('span', class_='a-price aok-align-center reinventPricePriceToPayPadding priceToPay').text.split('$')[1]
                list_price = price
            else:
                price = 999
                list_price = 999

            Total_Price['SKU'].append(sku)
            Total_Price['Price'].append(price)
            Total_Price['Price_List'].append(list_price)

        else:
            pass
        
        driver.close()

    return pd.DataFrame(Total_Price)

In [10]:
test = ['FTW7026', 'FTW7008']
Amazon_Pricing(test)

Scraping Amazon US FTW7026 Price
Scraping Amazon US FTW7008 Price

       SKU   Price Price_List
0  FTW7026  155.99     155.99
1  FTW7008  162.91     199.00

#### Fossil Pricing

In [11]:
def Fossil_Pricing(skus):
    Total_Price = {'SKU':[], 'Price':[], 'Price_List':[]}
    options = Options()
    options.headless = False

    for sku in skus:
        print(f"Scraping Fossil US {sku} Price")
        
        driver = webdriver.Chrome('C:/Users/142845/Documents/Python Scripts/Drivers/chromedriver.exe', options = options)
        driver.maximize_window()
        driver.get(f"https://www.google.com/search?q={sku}+Fossil US")
        driver.find_element_by_xpath('//*[@id="L2AGLb"]/div').click() #Accept cookies
        time.sleep(2)
        driver.find_element_by_xpath('//*[@id="Rzn5id"]/div/a[2]').click() #English
        time.sleep(3)
        
        if 'fossil.com' in driver.find_element_by_class_name('yuRUbf').text:
            driver.find_element_by_class_name('yuRUbf').click()
            time.sleep(3)
        
            page = BeautifulSoup(driver.page_source, 'html.parser')
        
            if page.find('span', class_='strike-through list').text is not None and page.find('span', class_='sales').text is not None: #Has Discout Price
                list_price = page.find('span', class_='strike-through list').text.strip('\n')
                price = page.find('span', class_='sales').text.strip('\n')
        
            elif page.find('span', class_='sales') is not None:
                price = page.find('span', class_='sales').text.strip('\n')
                list_price = price
            else:
                price = 999
                list_price = 999
            
            if price > list_price:
                 list_price = price
            
            Total_Price['SKU'].append(sku)
            Total_Price['Price'].append(price)
            Total_Price['Price_List'].append(list_price)
        else:
            pass

        driver.close()
    
    return pd.DataFrame(Total_Price)

In [8]:
test = ['FTW7026', 'FTW7008']
Fossil_Pricing(test)

Scraping Amazon US FTW7026 Price
Scraping Amazon US FTW7008 Price

       SKU    Price Price_List
0  FTW7026  $155.99    $199.00
1  FTW7008  $199.00    $199.00